@charset "UTF-8";
a,
button {
  cursor: pointer;
}
@media (min-width: 992px) {
  .container {
    max-width: calc(1920px - 60px);
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}
.header {
  transition: all 0.5s;
  z-index: 700;
  padding: 15px 70px;
  transition: all 0.3s;
  background-color: #200a97;
  position:relative;
  z-index:999
}

.header.fixed{position:fixed;border-bottom:1px solid rgba(255,255,255,0.2); width:100%; background-color:rgba(32,10,151,0.7)}
.header.bg{background: rgba(0, 0, 0, 0.1);}
.header .header-scrolled,
.header .header-inner-pages {
  background: rgba(0, 0, 0, 0.8);
}
.header .logo {
  width: 230px;
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: calc(50% - 28px);
  left: 0;
  height: 100%;
  height: 54px;
  z-index:2;
}
.header .logo a {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../../../images/layout/logo_new.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}
.header.move,
.header.sub {
  background-color: #200a97;
}

.navbar {
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
  position: relative;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
  padding: 0.2rem 1.2rem;
}
.navbar a {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 20px;
}
.navbar .nav-link,
.navbar .nav-link:focus {
  padding: 15px 10px 10px;
  line-height: 1;
  color: #fff;
  font-family: "GmarketSans";
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar a:focus {
  color: #fff;
  font-weight: 600;
}
.navbar a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.navbar .nav-link:hover:after,
.navbar .nav-link:focus:after {
  opacity: 1;
  visibility: visible;
  background-color: #ffc451;
  width: 100%;
}
.navbar .right_util {
  position: absolute;
  right: 0;
  top: calc(50% - 15.4px);
  z-index:999
}
.navbar .right_util a {
  font-size: 15px;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 10px;
  /* max-height: 350px; */
  /* height: 350px; */
  /* overflow-y: auto; */
}

.navbar .dropdown ul li {
  min-width: 150px;
  padding:0;
}

.navbar .dropdown ul .li-con{padding:10px 20px}
.navbar .dropdown ul a {
  padding: 8px 14px;
  font-size: 14px;
  text-transform: none;
  color: #151515;
  font-weight: 400;
  justify-content: flex-start;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  background-color: #ffc451;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 135%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #151515;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #151515;
  background-color: #ffc451;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  color: #151515;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  background-color: #ffc451;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
.navbar > .container {
  max-width: 1920px;
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    justify-content: center;
  }
}
.right_util .dropdown {
  padding: 0 0.5rem;
}
.navbar .dropdown.alarm{margin-right: 20px;}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* 아이콘에 애니메이션 적용 */
#header .icon.alarm .num {
  animation: scale 1.4s infinite;
}
