<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.navi.mypage.dao.PositionDAO">

<select id="selectPositionList" resultType="PositionVO">
	SELECT PS_ID, PS_NAME, PS_YN FROM POSITION
</select>

</mapper>